{% extends 'base.html' %}
{% block title %} Editar {{ post['title'] }} {% endblock %}
{% block content %}
    <form class="post" method="post">
        <h2 class="titulo">Editar post</h2>
        <div class="inputs">
            <label for="title">Titulo:</label>
            <input type="text" name="title" placeholder="Titulo..." value="{{ request.form['title'] or post['title'] }}"></input>
        </div>
        <div class="inputs">
            <label for="content">Conteúdo:</label>
            <textarea name="content" placeholder="Seu post...">{{ request.form['content'] or post['content'] }}</textarea>
        </div>
        <div>
            <button type="submit">Editar</button>
        </div>
    </form>
    <form class="delet" action="{{ url_for('delete', id=post['id']) }}" method="POST">
        <input type="submit" value="Apagar post"
                onclick="return confirm('Você quer deletar esse post?')">
        </input>
    </form>
{% endblock %}
